@import url("base.css");
@import url("layout.css");
@import url("navbar.css");
@import url("sidebar.css");
@import url("forms.css");
@import url("components.css");
@import url("cards.css");
@import url("carousel.css");
@import url("modal.css");
@import url("utilities.css");
@import url("responsive.css");
@import url("alert.css");
@import url("requests.css");
@import url("cart.css");
@import url("orders.css");
@import url("discount.css");



.tag {
    width: fit-content;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 30%;
    background: rgba(255,255,255,0.12);
    color: #fff;
    backdrop-filter: blur(6px);
}

